html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.text1{
  font-weight: bold;
}

.text{
  font-size: 20px;
}
body {
  font-size: 62.5%;
}

.clearfix:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
  width: 0;
}

ul {
  list-style-type: none;
}

a {
  color: #00c5b9;
  text-decoration: none;
}

h1 {
  color: #FFF;
  text-align: center;
  margin-top: 30px;
  font-weight: 300;
  font-size: 2.4em;
}


